body {
    background: #424241!important;
    font-family: 'Neue Montreal Regular' !important;
    font-size: 15px !important;
    margin: 0;
    padding: 0;
    color:#FBFBFB !important;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100vh;
  }
  html, body {
    position: relative;
    width:100%;
  }
.contacto{
    display:flex;
    justify-content: center !important;
    width:100%;
}
h6{
     font-size:20px !important;
     font-weight: 600 !important;
     font-family: 'Neue Montreal Regular' !important;
 }
.btn-info{
    background-color:#424241 !important;
    border: none !important;
}

.fas{
    width:20px;
}
button.submit{
    display: flex;
    width: 200px !important;
}
button:hover{
    border: 1px solid white !important;
}
  @font-face {
    font-family: 'Neue Montreal Regular';
    src: url('fuente/NeueMontreal-Regular.otf'); 
  }

 
.credits-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 16px 0;
}

.credits-item-list {
    padding: 0;
}

.credits-item {
    list-style: none;
}

.logos a  {
    display: inline-block;
    margin-bottom: 16px;
}

.form-submit-btn {
    background-color: #424241;
    color: white;
    border: 1px solid white!important;
}

.form-submit-btn:hover {
    background-color: white;
    color: #424241;
}

.thankyou-section {
    display: flex;
    flex-flow: column;
    max-width: 900px;
    margin: 200px auto auto;
}
.thankyou-section h1 {
    font-size: 3em;

}
.thankyou-section p {
    font-size: 1.5em;
}

.thankyou-btn {
    color: white;
}
.thankyou-btn:hover {
    color: white;
}