body {
    background: #424241!important;
    font-family: 'Neue Montreal Regular' !important;
    font-size: 14px !important;
    margin: 0;
    padding: 0;
    color:#FBFBFB !important;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100vh;
  }
  html, body {
    position: relative;
  }

  h3{
    font-size: 18px !important;
    text-align: center;
  }

  p{
    text-align: justify;
  }

  #historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-footer{
      display:flex;
      align-items:flex-end;
  }

  @font-face {
    font-family: 'Neue Montreal Regular';
    src: url('fuente/NeueMontreal-Regular.otf'); 
  }