/*swiper*/
@font-face {
    font-family: 'Neue Montreal Bold';
    src: url('fuente/NeueMontreal-Bold.otf'); 
}
html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #F2F2F2;
    font-family: 'Neue Montreal Bold';
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    color:#808080;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  /*swiper*/

  img{
    width: 85%;
    box-shadow: -30px 30px 50px rgb(173, 170, 170);
  }
  h1{
    font-size:150px;
    margin: 50px;
    line-height: 100%;
  }
  h6{
      margin:10px;
      margin-left:-150px;
  }
  .alination{
    display: flex;
    justify-content: center;
  }
  .contenedor{
      margin:20px;
      display:flex;
      align-items: center;
      justify-content: center;
  }
  .namePicture{
    width: 500px;
    display:flex;
    flex-direction: column;
    align-items: center; 
  }

@media screen and (max-width: 1200px) {
    h1 {
      font-size: 110px;
    }
    img{
        width: 75%;
}

@media screen and (max-width: 1000px) {
    h1 {
      font-size: 90px;
    }
    img{
        width: 65%;
}
.namePicture{
    align-items: flex-end; 
  }

@media screen and (max-width: 800px) {
    h1 {
      font-size: 70px;
    }
    h6{
        font-size:5px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
      font-size: 50px;
    }
    h6{
        font-size:5px;
    }
}