/*swiper*/
@font-face {
    font-family: 'Neue Montreal Bold';
    src: url('fuente/NeueMontreal-Bold.otf'); 
}
html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #424241!important;
    font-family: 'Neue Montreal Bold' !important;
    font-size: 14px !important;
    margin: 0;
    padding: 0;
    color:#FBFBFB !important;
    overflow-x:hidden;
    overflow-y:hidden;
  }

#title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.logo{
  height:90px;
}

h2{
  font-family: 'Neue Montreal Regular'!important;
  line-height: 25px !important; 
}

@font-face {
  font-family: 'Neue Montreal Regular';
  src: url('fuente/NeueMontreal-Regular.otf'); 
}