.menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.Munam{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.categories{
    
}