html{
    background-color: whitesmoke;
}

.menu{
    font-family: 'Neue Montreal Bold'!important; 
    font-size: 15.5px;
    color: gray !important;
}

.Munam{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 40px !important;
    color: gray !important;
}
a{
    text-decoration: none;
}
a:visited{
    font-family: Arial, Helvetica, sans-serif; 
    color: gray;
}
a:hover{
    color: #333333;
}
.categories{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

#main-footer{
    padding: 20px 50px 0px 50px;
    width: -webkit-fill-available;
    bottom: 0;
}

.footer{
    font-family: 'Neue Montreal Bold', Arial, Helvetica, sans-serif; color: gray;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-link {
    color: #808080;
    text-decoration: none;
}

.menu-link:hover {
    color: #808080;
}

.fab{
    padding: 0px 10px 0px 10px;
    color:  #808080 !important;
}
.rights{
    font-size:9px;
    font-weight: 500;
}

@font-face {
    font-family: 'Neue Montreal Bold';
    src: url('fuente/NeueMontreal-Bold.otf'); 
}

@media screen and (max-width: 600px) {
.rights{
    font-size:9px;
    }
#main-footer{
    padding:10px 20px 0px 20px !important;
}
.fab{
    padding: 0px 0px 10px 10px;
}
.social{
    display:flex;
    flex-wrap: wrap;
    }
}