body{
    margin:0px;
    text-align:justify;
    display: flex;
    justify-content: center;
    background-color:#F2F2F2 !important;
    flex-direction: column;
}
.contenedor{
    display: flex;
    flex-direction:row;
    width:1000px;
}

.contenido{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.columna1{ 
    width:40%;
    margin-right: 50px;
    margin-left: 50px;
}

.columna2{
    width:40%;
}

.space{
    height:55px;
}

h1{
    font-size:60pt;
    margin-top:0px;
    margin-bottom:40px;
}

h1, h3{
    font-family: 'Neue Montreal Bold'!important;
    color:#999999 !important;
}

p{
    font-family:'Neue Montreal Regular'!important;
    color:#9F9F9F !important;
}

@font-face {
    font-family: 'Neue Montreal Bold';
    src: url('fuente/NeueMontreal-Bold.otf'); 
}

@font-face {
    font-family: 'Neue Montreal Regular';
    src: url('fuente/NeueMontreal-Regular.otf'); 
}

@media screen and (max-width: 1000px) {
   .contenido{
    
   }
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .columna1{
        width:80%;
        padding-right: 50px;
        padding-left: 50px;
    }
    .columna2{
        width:80%;
        padding-right:50px;
        padding-left: 50px;
    }
}